.open-button {
  background-color: #333;
  color: white;
  padding: 8px 10px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 30px;
  left: 40%;
  width: 20%;
  margin: 0 0;
}

/* The popup form - hidden by default */
.form-popup {
  margin: 0 0;
  display: none;
  position: fixed;
  bottom: 20px;
  left: 35%;
  border: 3px solid #f1f1f1;
  z-index: 9;
  width: 30%;
  font-size:medium;
}

/* Add styles to the form container */
.form-container {
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

  /* Full-width input fields */
  .form-container input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 0 0;
    border: none;
    background: #f1f1f1;
  }


.rb {
  display: flex;
  flex-direction: row;
  width: 100%;
}
  .rb span {
    width: 90%;
  }

  .rb input {
    width:10%;
  }
    /* When the inputs get focus, do something */
    .form-container input[type=text]:focus, .form-container input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }

  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    opacity: 0.8;
  }

  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }

  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
