main {
  width: 100%;
  color: white;
  font-size: 2em;
  display: flex;
  flex-direction: row;
  padding: 30px 30px;
  align-items: center;
  justify-content: center;
}

.accform {
  font-size: 0.6em;
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
}


label {
  margin-top: 10px;
}

button {
  margin-top: 10px;
  border: solid;
  border-color: #444;
  border-radius: 15px;
  color: black;
}

.delbutt {
  background-color: lightcoral;
}
