<header>
  <div class="navbar">
    <a class="left-a" [routerLink]='["/"]'>Play</a>
    <a class="left-a" [routerLink]='["/news"]'>News</a>
    <a class="left-a" [routerLink]='["/leaderboard"]'>Leaderboard</a>
    <a *ngIf="!username" class="right-a" [routerLink]='["/login"]'>Log in</a>
    <a *ngIf="username" class="right-a" [routerLink]='["/cabinet"]'>{{username}}</a>
  </div>
</header>














  <!--<div class='main-nav'>
    <div class='navbar navbar-inverse'>
      <div class='navbar-header'>
        <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <a class='navbar-brand' [routerLink]='["/"]'>ChessApp</a>
      </div>
      <div class='clearfix'></div>
      <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
        <ul class='nav navbar-nav'>
          <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a [routerLink]='["/"]' (click)='collapse()'>
              <span class='glyphicon glyphicon-home'></span> Home
            </a>
          </li>
          <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/news"]' (click)='collapse()'>
              <span class='glyphicon glyphicon-education'></span> News
            </a>
          </li>
          <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/leaderboard"]' (click)='collapse()'>
              <span class='glyphicon glyphicon-th-list'></span> Fetch data
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>-->
