<div class="header-container">
  <div class="header-body">
    <label>Leaderboard</label>
  </div>
</div>
<main>
  <div class="lbContainer">
    <div class="row">
      <div class="lbName head"><i>Player name</i></div>
      <div class="lbSpacer"></div>
      <div class="lbScore head"><i>Score</i></div>
    </div>
    <div id="leaderboard" class="lbContainer data" *ngFor="let u of users">
      <div class="row">
        <div class="lbName">{{ u.login }}</div>
        <div class="lbSpacer"></div>
        <div class="lbScore">{{ u.score }}</div>
      </div>
    </div>
  </div>
</main>
